apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: nginxappkust
  namespace: nginx-app
spec:
  interval: 30s
  path: ./deploy
  prune: true
#  wait: true
  sourceRef:
    kind: GitRepository
    name: fluxcd-nginx-deploy
