apiVersion: notification.toolkit.fluxcd.io/v1beta3
kind: Provider
metadata:
  name: fluxgithubprovider
  namespace: flux-system
spec:
  type: github
  address: https://github.com/mkamran1411/fluxcd-nginx-deploy.git
  secretRef:
    name: github

#apiVersion: notification.toolkit.fluxcd.io/v1beta3
#kind: Provider
#metadata:
#  name: slack-bot
#  namespace: flagger-system
#spec:
#  type: discord
#  channel: general
#  address: https://slack.com/api/chat.postMessage
#  secretRef:
#    name: slack-bot-token